*/config/
!traefik/config
traefik/.env
traefik/letsencrypt
# jellyfin/config
# qbittorrent/config
# deluge/config
# radarr/config
# jellyseerr/config
# prowlarr/config
*/data
# jellyfin/data
# nginxproxymanager/data
# portainer/data
