ozaki.one {
    reverse_proxy /qbittorrent qbittorrent:8888 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
    }
    encode gzip
    file_server
}