# openssl rand -hex 32
COOKIE_SECRET=
JWT_SECRET=
POSTGRES_PASSWORD=
LOG_LEVEL=INFO
TZ=Europe/Paris
DATABASE_URL=postgres://tracearr:REPLACE_PASSWORD@timescale:5432/tracearr
POSTGRES_USER=tracearr
POSTGRES_DB=tracearr
